<div class="row">
  <div class="col-md-12">
    <div class="jumbotron">
      <h1>About Us</h1>
      <p>Our Business</p>
    </div>
  </div>
</div>

<div class="row">
	<div class="col-md-5">
	  <img src="http://placehold.it/1024x700" class="img-responsive img-rounded">
  </div>
  <div class="col-md-7">
    <h1>What We Do</h1>
    <p class="lead">Sharing information has never been easier.</p>
    <p>dokspot enables Medical Device Manufacturers to improve their distribution of instructions for use. Centered around a cloud application, dokspot gives&nbsp;Healthcare Providers access to electronic instructions for use at any time
        from any location. In the background, dokspot provides a management suite which allows Medical Device Manufacturers to control the distribution of these electronic instructions for use. dokspot is compliant with regulations set out by the European
        Commission.
    </p>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <hr>
  </div>
</div>

<div class="row">
  <div class="col-md-3">
		<img src="http://placehold.it/1024x600" class="img-responsive img-rounded">
		<!--<span class="glyphicon text-primary text-center glyphicon-usd feature-font"></span>-->
    <h3>Cost Reduction</h3>
    <p class="lead">Your Shareholders Smile</p>
    <p>If you are looking to reduce your costs, this is the right place. By migrating to electronic instructions for use your company can save on printing and shipping costs. At the same time, at dokspot you will only pay for what you use.</p>
  </div>
  <div class="col-md-3">
    <img src="http://placehold.it/1024x600" class="img-responsive img-rounded">
    <h3>CO2 Footprint</h3>
    <p class="lead">Your Environment Smiles</p>
    <p>By using the dokspot service your company can take a huge leap towards creating a better and sustainable environment for your community and for the world. With dokspot there is no more need to waste paper, you will only print when a paper copy
      is requested.</p>
  </div>
  <div class="col-md-3">
    <img src="http://placehold.it/1024x600" class="img-responsive img-rounded">
    <h3 class="">Process Simplification</h3>
    <p class="lead">Your Staff Smiles</p>
    <p>Through dokspot your staff can easily manage the communication of instructions for use. This opens vast opportunities for process simplification. You can now pass on important information on reviews and changes without a hassle.</p>
  </div>
  <div class="col-md-3">
    <img src="http://placehold.it/1024x600" class="img-responsive img-rounded">
    <h3>Customer Satisfaction</h3>
    <p class="lead">Your Customers Smile</p>
    <p class="text-left">Your customers are busy people, they don't have the time to search for information left, right and center. dokspot provides them with a portal for accessing documentation they need, in the language they need, whenever they need it.</p>
  </div>
  <p class="lead"></p>
</div>

<div class="row">
  <div class="col-md-12">
    <hr>
  </div>
</div>

<div class="row">
	<div class="col-md-2 col-sm-0"></div>
  <div class="col-md-8 col-sm-12">
    <h1>Features</h1>
    <p class="lead">We are packed full of features to help you and your customers.</p>
    <ul class="media-list">
      <li class="media">
        <div class="pull-left">
          <span class="media-object glyphicon text-primary glyphicon-cloud feature-font"></span>
        </div>
        <div class="media-body">
          <h3 class="media-heading">Cloud Platform</h3>
          <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.</p>
        </div>
      </li>
      <li class="media">
        <div class="pull-left">
          <span class="media-object glyphicon text-primary glyphicon-road feature-font"></span>
        </div>
        <div class="media-body">
          <h3 class="media-heading">Migration&nbsp;Methodology</h3>
          <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.</p>
        </div>
      </li>
      <li class="media">
        <div class="pull-left">
          <span class="media-object glyphicon text-primary glyphicon-check feature-font"></span>
        </div>
        <div class="media-body">
          <h3 class="media-heading">Regulation Compliant</h3>
          <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.</p>
        </div>
      </li>
      <li class="media">
        <div class="pull-left">
          <span class="media-object glyphicon text-primary glyphicon-print feature-font"></span>
        </div>
        <div class="media-body">
          <h3 class="media-heading">Print on Demand</h3>
          <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.</p>
        </div>
      </li>
      <li class="media">
        <div class="pull-left">
          <span class="media-object glyphicon text-primary glyphicon-bell feature-font"></span>
        </div>
        <div class="media-body">
          <h3 class="media-heading">Customer Notifications</h3>
          <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.</p>
        </div>
      </li>
      <li class="media">
        <div class="pull-left">
          <span class="media-object glyphicon text-primary glyphicon-globe feature-font"></span>
        </div>
        <div class="media-body">
          <h3 class="media-heading">Easy Access</h3>
          <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.</p>
        </div>
      </li>
      <li class="media">
        <div class="pull-left">
          <span class="media-object glyphicon text-primary glyphicon-qrcode feature-font"></span>
        </div>
        <div class="media-body">
          <h3 class="media-heading">QR Codes</h3>
          <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.</p>
        </div>
      </li>
      <li class="media">
        <div class="pull-left">
          <span class="media-object glyphicon text-primary glyphicon-book feature-font"></span>
        </div>
        <div class="media-body">
          <h3 class="media-heading">Language Specific</h3>
          <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.</p>
        </div>
      </li>
    </ul>
  </div>
  <div class="col-md-2 col-sm-0"></div>
</div>

<div class="row">
  <div class="col-md-12">
    <hr>
  </div>
</div>

<div class="row">
  <div class="col-md-12 text-center">
    <p class="lead">Please contact us for more information on how dokspot can help you.</p>
    <%= link_to "Contact Us", contact_path, class: "btn btn-lg btn-primary" %>
  </div>
</div>