<div class="row">
  <div class="col-md-12">
    <div class="jumbotron">
      <h1>Contact Us</h1>
      <p>We would love to talk!</p>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-xs-10"></div>
</div>

<div class="row">
  <div class="col-md-4">
    <div class="well">
      <h2>Sales</h2>
      <p></p>
      <p class="">Happy to help.</p>
      <p class="text-primary"><span class="glyphicon glyphicon-earphone"></span> +49 1234 5678</p>
      <p class="text-success"><span class="glyphicon glyphicon-envelope"></span> sales@dokspot.com
        <br>
        <br>
      </p>
      <p></p>
    </div>
  </div>
  <div class="col-md-4">
    <div class="well">
      <h2>Support</h2>
      <p>We aim to answer in under 24 hours.
        <br>
      </p>
      <p class="text-primary"><span class="glyphicon glyphicon-earphone"></span> +49 1234 5678</p>
      <p class="text-success"><span class="glyphicon glyphicon-envelope"></span> support@dokspot.com
        <br>
        <br>
      </p>
    </div>
  </div>
  <div class="col-md-4">
    <div class="well">
      <h2>Write Us</h2>
      <p>dokspot GmbH
        <br>Address Line
        <br>Postcode
        <br>City
        <br>Country</p>
    </div>
  </div>
</div>