<div class="row">
  <div class="col-md-3 col-xs-1"></div>
  <div class="col-md-6 col-xs-10">
  	<%= image_tag "http://placehold.it/600x300&text=dokspot%20logo", class: "img-responsive center md-mg-btm" %>
  </div>
  <div class="col-md-3 col-xs-1"></div>
</div>

<%= render "layouts/search" %>