<div class="navbar navbar-default navbar-inverse navbar-static-top">
  <style>
    .body{padding-top:70px}
  </style>
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand">Brand name</a>
    </div>
    <div class="collapse navbar-collapse navbar-ex1-collapse"></div>
  </div>
</div>